# configuring 404 page
ErrorDocument 404 /law/404.php

# mod_rewrite starts here
RewriteEngine on

# dont run  the rule if folder exists on server
RewriteCond %{REQUEST_FILENAME} !-d

# don't run the rule if file does not exist
RewriteCond %{REQUEST_FILENAME}\.php -f

# Here we actually show the page with the .php extension
RewriteRule ^(.*)$ $1.php [NC,L]









