# Custom 404 Error Page
ErrorDocument 404 /law/404.php

# Enable mod_rewrite
RewriteEngine On

# Don't apply the rule if the requested file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite the URL to include the .php extension
RewriteRule ^(.*[^/])$ $1.php [NC,L]

# Handle cases where a directory is requested, and should use index.php
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1/ [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}/index.php -f
RewriteRule ^(.*)$ $1/index.php [L]
